<h2 class="text-center">Signature Digital GOST R34.10-2012</h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @gost do |f| %>
      <%= f.label :message, "Message M" %>
      <%= f.text_field :message, class: "form-control", required: true,
        autocomplete: :off %><br/>

      <%= f.label :size, "Digest size: " %>
      <%= f.select :size, [256, 512].collect{|n| n}, class: "selectpicker" %><br/>

      <% if @digest.present? %>
        <%= f.label :digest, "Hash value" %>
        <%= f.text_area :digest, value: @digest, readonly: :true, required: true,
          class: "form-control" %><br/>
      <% end %>

      <% if @signature.present? %>
        <%= f.label :signature, "Signature" %>
        <%= f.text_area :signature, value: encode_hex(@signature),
          readonly: :true, class: "form-control" %><br/>
      <% end %>

      <%= f.label :verify, "Verify Signature" %>
      <%= f.text_field :verify, value: @verify, readonly: :true,
        class: "form-control" %><br/>

      <%= f.submit "caculate", class: "btn btn-info center-block" %>
    <% end %>
  </div>
</div>
