<h1 class="text-center">Signature Digital GOST R34.10-2012</h1>
<div class="row text-center">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @gost do |f| %>
      <%= f.label :message, "Message M" %>
      <%= f.text_field :message, class: "form-control" %><br/>

      <%= f.label :size, "Digest size" %>
      <%= f.number_field :size, class: "form-control" %>

      <% if @digest.present? %>
        <%= f.label :digest, "Hash value" %>
        <%= f.text_area :digest, value: @digest, readonly: :true,
          class: "form-control" %><br/>
      <% end %>

      <% if @signature.present? %>
        <%= f.label :signature, "Signature" %>
        <%= f.text_area :signature, value: encode_hex(@signature),
          readonly: :true, class: "form-control" %><br/>
      <% end %>

      <%= f.label :verify, "Verify Signature" %>
      <%= f.text_field :verify, value: @verify, readonly: :true,
        class: "form-control" %><br/>

      <%= f.submit "caculate", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
